* { 
    margin: 0;
    padding: 0;
}

.container-grid {
    display: grid;
    grid-template-areas: 
    "side up up"
    "side compras compras"
    "side compras compras"
    "side compras compras"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

body {
    background-color: #070d1d;
}

.side-bar {
    left: 0;
    background-color: #0B132B;
    height: 100vh;
    width: 15vw;
    grid-area: side;
}

.nav {
    background-color: #1C2541;
    width: 85vw;
    grid-area: up;      
}

.nav > h1 {
    display: flex;
    color: white;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.nav > ul > li {
    margin-left: 50px;
    list-style-type: none;
}

.compras-fundo {
    grid-area: compras;
    background-color: #3A506B;
    display: grid;
    grid-template-areas: 
    "botoes botoes"
    "q1 q2"
    "q3 q4"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1fr 1fr;
}

.compras-fundo > div > h2 {
    display: flex;
    justify-content: center;
}

.container-botoes {
    display: flex;
    margin-left: 50px;
}

.botoes {
    background-color: #2b3c50;
    height: 50px;
    width: 140px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.botoes-compras {
    grid-area: botoes;
    background-color: #2b3c50;
    height: 50px;
    width: 140px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin: 5px 10px 5px 0;
}

button:hover {
    transform: scale(1.05);
}

.container-lista {
    height: 90%;
    width: 90%;
    overflow: auto;
    grid-area: q1;
    background-color: #4B8895;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    margin: 0 0 0 50px;
}
.container-listaComidas {
    height: 90%;
    width: 90%;
    overflow: auto;
    grid-area: q2;
    background-color: #4B8895;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    margin: 0 0 0 50px;
}

.container-listaBebidas {
    height: 90%;
    width: 90%;
    overflow: auto;
    grid-area: q3;
    background-color: #4B8895;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    margin: 0 0 0 50px;
}

.container-listaEssenciais {
    height: 90%;
    width: 90%;
    overflow: auto;
    grid-area: q4;
    background-color: #4B8895;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    margin: 0 0 0 50px;
}

.container-lista::-webkit-scrollbar { /* Tamanho da barra lateral*/
    width: 5px;
    height: 5px;
}

.container-lista::-webkit-scrollbar-thumb { /* Controla como a barra parece */
    background-color: #566573;
    border: 1px solid black;
    border-radius: 15px;
}

#listaCompras {
    display: flex;
    flex-wrap: wrap;
    overflow: ellipsis;
}

.compras-fundo > div > div > li {
    display: flex;
    background-color: #5BC0BE;
    box-shadow: 1px 1px 3px black;
    border: 1px solid black;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-bottom: 5px;
}

.side-bar > ul > li > span, iconify-icon {
    color: white;
}

#lista-icones {
    display: flex;
    flex-flow: column;
    margin: 50% 0 0 20px;
    font-size: 40px;
}

#lista-icones > li {
    margin-top: 15px;
}