#fundo {
    background-color: navajowhite;
    background: linear-gradient(to right,navajowhite,blanchedalmond,navajowhite);
}

.container-grid {
    display: grid;
    padding: 10px;
    padding-right: 60px;
    width: 40vw;
    height: 100vh;
    background-color: #f5deb4;
}

.upgrades {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    background-color: #f1d39b;
    margin: 3px 100% 3px auto;
    width: 40vw;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

.upgrades::-webkit-scrollbar { /* Tamanho da barra lateral*/
    width: 5px;
    height: 5px;
}

.upgrades::-webkit-scrollbar-thumb { /* Controla como a barra parece */
    background-color: #566573;
    border-radius: 15px;
}

.upgrade-items {
    border: 2px double gray;
    display: flex;
    align-items: top;
}

.botao-upgrade-items {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    align-items: flex-start;
    text-align: left;
}   

.botao-upgrade-items:active {
    background-color: #f3cb81;
}

#botao-upgrade-items-texto {
    color: gray;
}

.imagens {
    height: 15vh;
    object-fit: contain; /* Para que a imagem não tenha perca de qualidade*/
}

.contador-cookies {
    position: absolute;
    top: 1vh;
    right: 43vh;  
    padding: 5px;
    background-color: #f1d39b; 
    border-radius: 15px;
    padding-right: 50px;
}

#cookie {
    height: 300px;
    position: absolute;
    object-fit: contain;
    top: 10vh;
    right: 35vh;
    animation: spin 20s linear infinite;
    cursor: pointer;
}

#cookie:active {
    transition: 200ms;
    height: 295px;
}

@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#botao-voltar {
    height: 50px;
    width: 100px;
    background-color: gray;
    border-radius: 15px;
    cursor: pointer;
}

#botao-voltar:hover {
    transform: scale(1.05);
}