* {
    margin: 0;
    padding: 0;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

#fundo-principal {
    background-color: #D5BDAF;
}

#container-lista {
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#fundo-lista {
    display: flex;
    overflow: auto;
    background-color: #F5EBE0;
    height: 70vh;
    width: 30vw;
    box-shadow: 2px 3px 5px black;
    border-radius: 15px;
    justify-content: flex-start;
    flex-direction: column;
}

.item-lista {
    display: flex;
    height: 100px;
    width: 25vw;
    flex-flow: column;
    margin: 75px auto 75px auto;
}

.item-lista > label {
    font-size: xx-large;
    width: 24vw;
    overflow-wrap: break-word;
}

.item-lista > label, .item-lista > div {
    height: auto;
}

.item-lista > div {
    border: 2px solid black;
}

#adicionar-elemento {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 26px;   
}

#mudar-texto-ativado,#mudar-texto-desativado {
    margin-left: 52px;
}

#adicionar-elemento:hover,#mudar-texto-desativado:hover,#mudar-texto-ativado:hover {
    transform: scale(1.05);
}

.container-flex {
    display: flex;
    height: 60px;
}

#fundo-lista > h1 {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

#fundo-lista::-webkit-scrollbar-thumb {
    background-color: #f3dcc4;
    border: 1px solid black;
    border-radius: 5px;
}

#fundo-lista::-webkit-scrollbar { /* Tamanho da barra lateral*/
    width: 8px;
    height: 5px;
}