#fundo-principal {
    background-color: rgb(44, 44, 44);
}

.container {
    display: flex;
    background-color: green;
    box-shadow: 5px 3px 20px greenyellow;
    justify-content:top;
    align-items:center;
    flex-flow: column;    
    width: 1000px;
    height: 500px;
    margin: 0px auto 0px auto;
    border-radius: 50px;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    
}

.seletor-paginas {
    background-color: rgb(3, 160, 3);
    padding: 50px;
    max-width: 50%;
    max-height: 50%;
    border: 1px solid rgb(25, 139, 2);
    border-radius: 15px;
    box-shadow: 5px 3px 5px rgb(25, 139, 2);
}

.botoes { 
    display: inline-flex;
    background-color: darkseagreen;
    border: 1px inline black;
    padding: 15px;
    border-radius: 3px;
    color: black;    
    justify-content: center;
}

.links {
    text-decoration: none;
}