* {
    margin: 0;
    padding: 0;
}

#fundo-principal {
    background-color: #CFD6EA;
}

.container-grid {
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "b b b"
    "c c c";
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    height: 100vh;
}


.titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #B0B2B8;
}

.registrar-login {
    grid-area: titulo;
}

.registrar-login > button {
    background: #7D7E75;
    border: 1px solid black;
    border-radius: 15px;
    width: 100px;
    height: 25px;
    float: right;
    margin: 15px 5px auto 5px;
}

.selecao-quiz-titulo {
    grid-area: b;
    display: flex;
    background-color: #7D7E75;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.selecao-quiz {
    grid-area: c;
    display: flex;
    text-align: center;
    background-color: #4F5D2F;
    display: grid;
    grid-template-areas: 
    "esquerda-t direita-t"
    "esquerda-b direita-b"
    ;
}

.botoes {
    margin: auto;
    height: 10vh;
    width: 15vw; 
    margin: 15px auto 15px auto;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

.selecao-quiz :nth-child(1) {
    background-image: url("https://img.icons8.com/fluent/512/c-programming.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid blue;
    grid-area: esquerda-t;
}

.selecao-quiz :nth-child(2) {
    background-image: url("https://images.vexels.com/media/users/3/166383/isolated/preview/6024bc5746d7436c727825dc4fc23c22-icone-de-linguagem-de-programacao-html.png?w=360");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid orange;
    grid-area: direita-t;
}

.selecao-quiz :nth-child(3) {
    background-image: url("https://logospng.org/download/css-3/logo-css-3-2048.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid lightblue;
    grid-area: esquerda-b;
}

.selecao-quiz :nth-child(4) {
    background-image: url("https://static.vecteezy.com/system/resources/previews/027/127/463/non_2x/javascript-logo-javascript-icon-transparent-free-png.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid yellow;
    grid-area: direita-b;
}

#quiz-C {
    display: grid;
    z-index: -1;
    background-color: #EEE5E9;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%;
    grid-template-areas: 
    "questao questao"
    "imagem imagem"
    "esquerda-t direita-t"
    "esquerda-b direita-b"
    ;
}

#quiz-C > h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #4C1E4F;
    grid-area: questao;
}

#quiz-C > img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #7C7C7C;
    object-fit: contain;
    width: 20vw;
    padding: 0 40vw 0 40vw;
}

.botoes-C {
    margin: auto;
    height: 15vh;
    width: 33vw; 
    margin: 15px auto 15px auto;
    cursor: pointer;
    border-radius: 15px;
    font-size: 35px;
}

#quiz-C :nth-child(2) {
    grid-area: imagem;
}

#quiz-C :nth-child(3) {
    background-color: #B5A886;
    grid-area: esquerda-t;
}
#quiz-C :nth-child(4) {
    background-color: #FEE1C7;
    grid-area: direita-t;
}
#quiz-C :nth-child(5) {
    background-color: #FA7E61;
    grid-area: esquerda-b;
}
#quiz-C :nth-child(6) {
    background-color: #F44174;
    grid-area: direita-b;
}

.seta-avancar {
    position: absolute;
    left: 95%;
    right: 50%;
    top: 40%;
}

.bxs-arrow-big-right {
    transform: scale(10);
}

.botao-seta {
    cursor: pointer;
}

.botao-seta:hover {
    transform: scale(1.05);
}

.botao-seta:active {
    opacity: 0.8;
}