#fundo-principal {
    background-color: #0D1F2D;
}

a {
    text-decoration: none;
    color: black;
}

.navegacao-container {
    display: flex;
    background-color: #546A7B;
    box-shadow: 5px 3px 20px #50697c;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;    
    margin-left: 15px;
    width: 100%;
    height: 170px;
    margin: auto;
    border-radius: 50px;
    position: sticky;
    top: 0;
}

#header-navegacao {
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.navegacao-botoes { 
    display: inline-block;
    width: 150px;
    height: 20px;
    background: #9EA3B0;
    padding: 15px;
    border-radius: 5px;
    color: white;   
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}

.navegacao-botoes:active {
    opacity: 0.8;
}

.navegacao-botoes:hover {
    transform: scale(1.05);
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 0 0;
}

.container-grid {
    display: grid;
    margin: 15px 15px auto 15px;
    border-radius: 15px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.projetos {
    background-color: #666A86;
    border: 3px solid #788AA3;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 15px;
}

.projetos > img {
    display: flex;
    object-fit: contain;
    margin: 0 auto 0 auto;
    border: 1px solid black;
    height: auto;
    max-width: 90%;
   
}

.projetos-descricao {
    padding-bottom: 5px;
    margin-left: 15px;
    color: white;
}

.projetos-descricao > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetos-botao {
    display: flex;
    margin: 0 auto 0 auto;
    background-color: #92B6B1;
    border: none;
    border-radius: 8px;
    width: 90%;
    height: 3vh;
    cursor: pointer;
}

.projetos-botao:active {
    opacity: 0.8;
}

.projetos-botao:hover {
    transform: scale(1.05);
}

.botao-texto {
    margin: auto;
}